.c {
  		position: relative;
			max-width: 74em;
			margin: 0 auto;
		}
		.c-list-container {
			overflow: hidden;
			position: relative;
		}
		.c-list {
			width: 99999em;
			position: relative;
			left: 0;
			-webkit-transition: left 0.5s ease-out; 
     		-moz-transition: left 0.5s ease-out;  
       		-o-transition: left 0.5s ease-out; 
        	transition: left 0.5s ease-out;
		}
		
		.c li {
			float: left;
		}
		.c li a {
			display: block;
		}
		.c img {
			display: block;
		}
		.c h2 {
			margin-top: 0;
		}
		.summary {
			padding: 1em;
		}
		.c-nav {
			clear: both;
			overflow: hidden;
			border-top: 1px solid #808080;
		}
		.c-nav a {
			float: left;
			width: 50%;
			padding: 1em;
			-webkit-transition: opacity 0.5s ease-out; 
     		-moz-transition: opacity 0.5s ease-out;  
       		-o-transition: opacity 0.5s ease-out; 
        	transition: opacity 0.5s ease-out;
		}
		.c-nav a.next {
			border-left: 1px solid #808080;
			text-align: right;
		}
		.c-nav a.inactive {
			opacity: 0.2;
			
		}
		
		/* Medium */
		@media screen and (min-width: 35em) {
			.c {
				padding: 1em 0.5em 0;
			}
			.c li {
				padding: 0 0.5em;
			}
			body:after { /* Conditional CSS http://adactio.com/journal/5429/ */
		        content: 'medium';
		        display: none;
	   		}
		}

		
		/* Large */
		@media screen and (min-width: 56.25em) {
			body:after { /* Conditional CSS http://adactio.com/journal/5429/ */
		        content: 'large';
		        display: none;
	   		}
		}
		
		/*Large with room to spare on either side */
		@media screen and (min-width: 82em) {
			.c-nav a {
				position: absolute;
				top: 40%;
				left: -4em;
				width: 4em;
				height: 2em;
				padding: 0;
				margin-top: -1em;
			}
			.c-nav a.next {
				left: auto;
				right: -4em;
				border: 0;
			}
		}
