/* restaurant info boxes CSS */

.row{

  margin: 50px 0px 30px 0px;

}

.col-sm-3{
  overflow: hidden;
  height: 250px;
  float: center;
  
  transition: height 0.5s; 
  -webkit-transition: height 0.5s; 
  margin: 0px;
  z-index: 0.1;
  border:3px solid white;
  border-radius: 10px;
  color: black;

}

.col-sm-3 text{

  position:absolute;
}

.col-sm-3:hover {

  height: auto;
  width: 500px;

}

/*NavBar CSS */
.container-fluid li{

  
  display: inline;
  text-align: center; 
  margin: 0px 5px 0px 5px;
  padding: 0px 0px 0px
  width: 100%;

}
.container-fluid a {
      
  text-decoration: none;
  display: inline;
  font-size: 1.2em;
  text-shadow: 2px 2px #000;

  transition: .3s background-color;
  opacity: 1;

 }

.affix {
      top: 0;
      width: 100%;
  }
 h1{

  font-weight: bold;
  text-shadow: 1px 1px gray;

 }

 text{

  font-family: "trebuchet MS","andale mono", "Calibri", "serif"; 

 }

 .container-fluid a:hover {

  background-color: #cc339a;
  font-weight:bold;

}
@media (max-width: 950px){

  .container-fluid a {  
    font-size:1em;
  }
}

@media (max-width:700px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}


.navbar-default {
  background-color: #b82e8a;
  border-color: #a7297e;
}
.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffffff;
}
.navbar-default .navbar-text {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #a7297e;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #a7297e;
}
.navbar-default .navbar-toggle {
  border-color: #a7297e;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #a7297e;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ffffff;
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #ffffff;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #000000;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #000000;
    background-color: #a7297e;
  }
}


 /* background images */

#dishoom {
  background: 
            linear-gradient(
            rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.3)
          ),
    url(http://i.imgur.com/DyFO0lg.jpg?1);

  background-size: cover;
  position: relative;
}

#homeslice {
  background: 
            linear-gradient(
            rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.3)
          ),
    url(http://i.imgur.com/sDnlVz6.jpg);

  background-size: cover;
  position: relative;
  background-opacity: 0.3;

}

#sushisamba {
  background: 
            linear-gradient(
            rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.3)
          ),
    url(http://i.imgur.com/xEkm6y0.jpg);

  background-size: cover;
  position: relative;
  background-opacity: 0.3;

}

#plumandsplitmilk {
  background: 
            linear-gradient(
            rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.3)
          ),
    url(http://i.imgur.com/1bkyDsj.jpg);

  background-size: cover;
  position: relative;
  background-opacity: 0.3;

}

#thaitho {
  background: 
            linear-gradient(
            rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.3)
          ),
    url(http://i.imgur.com/Y42zzn9.jpg);

  background-size: cover;
  position: relative;

}

#sketch {
  background: 
            linear-gradient(
            rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.3)
          ),
    url(http://i.imgur.com/g7yDBLP.jpg);

  background-size: cover;
  position: relative;

}

#theledbury {
  background: 
            linear-gradient(
            rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.3)
          ),
    url(http://i.imgur.com/eOmU7KE.jpg);

  background-size: cover;
  position: relative;

}

#cut45 {
  background: 
            linear-gradient(
            rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.3)
          ),
    url(http://i.imgur.com/A4XEtYD.jpg);

  background-size: cover;
  position: relative;

}

#momo {
  background: 
            linear-gradient(
            rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.3)
          ),
    url(http://i.imgur.com/xuyRmTl.jpg);

  background-size: cover;
  position: relative;

}

#aquashard {
  background: 
            linear-gradient(
            rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.3)
          ),
    url(http://i.imgur.com/NYV2pIg.jpg);

  background-size: cover;
  position: relative;

}

/* text description */

h1{

  color: black
  text: solid;
}

/* Footer CSS */
footer { 
    display: block;
    background-color: #b82e8a;
    color: #ffffff;
    height: 30px;
    padding-left: 10px;

}
.likeus{

    float: right;
    padding-right: 15px;

}