
#navbar{

    position:fixed;
    transition: all .5s ease;
    list-style-type: none;
    top:0;
    width: 100%;
    z-index: 999;
    margin: 0;
    padding: 15px 0px 5px 0px;
    background-color: #b82e8a;
    border-bottom: 1px solid #000;
    text-align: center;
    line-height: 10px;
    -webkit-transition: height .5s, line-height .5s; /* Safari */
    transition: height .5s, line-height .5s;

}
.NavContainer li{

  
  display: inline;
  text-align: center;
	margin: 20px 15px 0px 15px;
  padding: 10px 0px 0px

}
.NavContainer a {

  text-decoration: none;
  font-size: 1.5em;
  text-shadow: 2px 2px #000;
  color: #fff;
  transition: .3s background-color;
  opacity: 1;

 }

 .NavContainer a:hover {

  background-color: #d65cae;
  font-weight:bold;

}

.row{

  margin: 50px 30px 30px 30px;

}

.col-sm-4{
  outline-style: solid;
  outline-width: 3px;
  overflow: hidden;
  max-height: 700px;
}

@media (max-width: 600px){
  .sticky .menu{
    top: 0;
    .hamburger{
      background: #6E7982;
      &::before, &::after{
        background: #6E7982;
      }
    }
  }

