/* Our CSS booyakasha*/

.LondonImage {
	max-width: 100%;
	position: absolute;
	top: -50%;
}

.carousel {
	height: 400px;
	margin-bottom: 20px;
	overflow: hidden;
}

.title {
	position: absolute;
	left: 20%;
	right: 20%;
	top: 60%;
	font-size: 6vw;
	color: #fff;
}

.brandpic{
	width: 50%;
    height: 50%;
    }

body{
	font-family: "trebuchet MS","andale mono", "Calibri", "serif"; 
}

.intotext{
	margin:25px;
	text-align: center;
}

h3{
	padding:10px;
}

.threepoints{
	margin-top:50px;
}

h5{
	padding:10px;
}


h3 a{
	padding: 0px 20px 0px 20px;
/*	outline-style: solid;
	outline-width: 5px;
	outline-color: white;*/
	align-content: auto;
	color:#cc339a;
}

small{
		font-family: "trebuchet MS","andale mono", "Calibri", "serif"; 
}



@media (max-width: 900px){

	.carousel{
		min-height: 300px;
		}

	.title{
		
		margin: auto;
		font-size: 4vw;
		text-align: center;
	}
	.col-m-1{

		height: 60%;
	}
	.brandpic{
	width: 50%;
    height: 50%;
    }

}

@media (max-width: 650px){
	.col-m-1{
		max-height: 200px;
	}
	.title{
		top: 40%;
	}
/*	h1{
		outline-style: solid;
		outline-width: 3px;
		outline-color: white;
		color:#cc339a;
	    font-family: "trebuchet MS","andale mono", "Calibri", "serif"; 
	}*/
}



/* Footer CSS */
footer { 
 	position:fixed;
    display: inline-flex;
    background-color: #b82e8a;
    color: #ffffff;
    height: 50px;
    width:100%;
}


.likeus{
    float: right;
    padding-right: 15px;
}

#social-buttons {
  margin-top: 50px;
}

.btn-twitter {
  background-color: #00acee;
  border-color: #009ad5;
  color: white;
}

.btn-facebook {
  background-color: #4868ac;
  border-color: #314776;
  color: white;
}

.btn-pinterest {
  background-color: #b62f26;
  border-color: #b62f26;
  color: white;
}

.pic-footer {
    width: 25px;
    height: 25px;
}


/* Footer CSS */
.generic-anchor {
  color: white;
}

.flex-rw {
  display: flex;
  flex-flow: row wrap;
}

footer {
  background: #cc339a;
  margin-top: auto;
  width: 100%
}


.footer-social-section {
  width: 100%;
  align-items: center;
  justify-content: space-around;
  position: relative;
  margin-top: 5px;
}

.footer-social-section::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 10px;
  border-top: 1px solid white;
  width: calc(100% - 20px)
}

.footer-social-overlap {
  position: relative;
  z-index: 2;
  background: #cc339a;
  padding: 0 20px
}

.footer-social-connect {
  display: flex;
  align-items: center;
  font: 3.5em;
  font-family: "trebuchet MS","andale mono", "Calibri", "serif";
  font-weight: bold;
  text-shadow: 1px 1px gray; 
  color: white;
}

.footer-social-small {
  font-size: .75em;
  padding: 0px 20px;
  color:white;
}

.footer-social-overlap > a {
  font-size: 3em
}

.footer-social-overlap > a:not(:first-child) {
  margin-left: 0.38em
}

@media only screen and (max-width: 768px) {
  .footer-social-connect {
    font-size: 2.5em
  }
  .footer-social-overlap > a {
    font-size: 2.24em
  }
}
@media only screen and (max-width: 568px) {
  .footer-social-section {
    justify-content: center
  }
  .footer-social-section::after {
    top: 25%
  }
  .footer-social-connect {
    margin-bottom: 10px;
    padding: 0 10px
  }
  .footer-social-overlap {
    display: flex;
    justify-content: center;
  }
  .footer-social-icons-wrapper {
    width: 100%;
    padding: 0
  }
  .footer-social-overlap > a:not(:first-child) {
    margin-left: 20px;
  }
}
@media only screen and (max-width: 480px) {
  .footer-social-overlap > a {
    margin: auto
  }
  .footer-social-overlap > a:not(:first-child) {
    margin-left: 0;
  }
}
@media only screen and (max-width: 320px) {
  .footer-social-connect {
    font-size: 2.4em
  }
  .footer-social-overlap > a {
    font-size: 2.24em
  }
}