/* Our CSS booyakasha*/

.LondonImage {
	
	max-width: 100%;
	position: absolute;
	top: -50%;
	
}

.carousel {

	height: 400px;
	
	margin-bottom: 20px;
	overflow: hidden;
	
}

.title {

	position: absolute;
	left: 20%;
	right: 20%;
	top: 60%;
	font-size: 6vw;
	color: #fff;

}

h1{

	font-family: "trebuchet MS","andale mono", "Calibri", "serif"; 
	text-shadow: 3px 3px 3px rgba(0,0,0,0.3);
	padding: 0px 20px 0px 20px;
	outline-style: solid;
	outline-width: 5px;
	outline-color: white;
	fill: ;
	align-content: auto;


}

@media (max-width: 900px){

	.carousel{
		min-height: 300px;
		}

	.title{
		
		margin: auto;
		font-size: 4vw;
		text-align: center;
	}
	.col-m-1{

		height: 60%;

	}

}

@media (max-width: 650px){

	.col-m-1{
		max-height: 200px;
	}
	.title{
		top: 40%;

	}
	h1{
		outline-style: solid;
		outline-width: 3px;
		outline-color: white;

	}
}
