/*CSS for Nav Bar*/
.container-fluid li{
  display: inline;
  text-align: center; 
  margin: 0px 5px 0px 5px;
  padding: 0px 0px 0px
  width: 100%;

}
.container-fluid a { 
  text-decoration: none;
  display: inline;
  font-size: 1.2em;
  text-shadow: 2px 2px #000;
  transition: .3s background-color;
  opacity: 1;
 }
.toppic {	
		text-align: center;
		color:white;
		font-family: Comic;
		font-weight: bold;
		font-size:2.5em;
		margin-top:50px;
		background-size: cover;

	}

.toppic h1 {
	font-family: "trebuchet MS","andale mono", "Calibri", "serif"; 
	text-shadow: 3px 3px 3px rgba(0,0,0,0.3);
	padding: 50px 20px 50px 20px;
	outline-style: solid;
	outline-width: 5px;
	outline-color: white;
	font-size:50px;
	letter-spacing: 8px;
	background-color:cornflowerblue;

/*	
	
	border:solid;
	border-width: 5px;
	line-height:100%;
	position:relative;*/
}

.toppic h2{
	font-style: italic;
	font-family: "trebuchet MS","andale mono", "Calibri", "serif"; 
	font-size:25px;
	color:black;
}
.thumbnails{
	max-width:100%;
	max-height: 100%;
	border-radius: 15px;
	border: 1px solid #ddd;
	padding: 15px;
	width: 150px;
	float:left;
	margin-left: 15px;
	margin-right:15px;
}

.col-sm-12 {
	position:center;
	padding: 50px;
	margin-left: 15px;
	margin-right: 20px;
	border-bottom: dashed;
	border-top: dashed;
}

 .col-sm-12:hover {
	    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.9);
	}

p {
	margin-left: 10px;
	margin-right: 15px;
	padding:10px;
	font-family: "trebuchet MS","andale mono", "Calibri", "serif"; 
	font-weight: bold;
	font-size-adjust: auto;
	object-position: center;
}





.mycarousel {

	height: 400px;
	width: 800px; 
	margin-bottom: 20px;
	overflow: hidden;
}
.subtitle {

	position: absolute;
	left: 25%;
	top: 60%;
	font-size: 5em;
	color: #fff;

}

.serif {
	font-family: Impact; 
	font-size: 50em
	text-shadow: 3px 3px 3px rgba(0,0,0,0.3);
	padding: 0px 20px 0px 20px;
}



	}


	.align-left {
		text-align: left;
	}

	.align-center {
		text-align: center;
	}

	.align-right {
		text-align: right;
	}

	.mycarousel {

	height: 600px;
	width: 1000px; 
	margin-bottom: 20px;
	overflow: hidden;

}

p {
    font-size: 14px;
}

/*CSS for Nav Bar*/
.container-fluid li{
  display: inline;
  text-align: center; 
  margin: 0px 5px 0px 5px;
  padding: 0px 0px 0px
  width: 100%;

}
.container-fluid a { 
  text-decoration: none;
  display: inline;
  font-size: 1.2em;
  text-shadow: 2px 2px #000;
  transition: .3s background-color;
  opacity: 1;
 }

.navbar-inverse {
    background-color: rgba(32, 35, 41,0.8);
}
bootstrap.css:4759
.navbar-inverse {
    background-color: #222222;
    border-color: #080808;
}
bootstrap.css:4439
.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
}
bootstrap.css:4424
.navbar-fixed-top, .navbar-fixed-bottom {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}
bootstrap.css:4280
.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}

.jumbotron {
  padding-top: 90px;
  min-height: 600px;
  margin-bottom: 0;
  background-image: url('images/fruit-and-veg.jpg');
  background-size: cover;
  background-attachment: fixed;
}

.h1 {font: time-new-roman;

}
.jumbotron {
    padding: 30px;
    margin-bottom: 30px;
    font-size: 21px;
    font-weight: 200;
    line-height: 2.1428571435;
    color: inherit;
    background-color: #eeeeee;
}
.buzz
text-center {
    text-align: center;
}

.bluebox 
{background-color: rgba(32, 35, 41, 0.9);
}

.affix {
      top: 0;
      width: 100%;
  }
 h1{

  font-weight: bold;
  text-shadow: 1px 1px gray;

 }

 text{

  font-family: "trebuchet MS","andale mono", "Calibri", "serif"; 

 }

 .container-fluid a:hover {

  background-color: #cc339a;
  font-weight:bold;

}

/*rules for when screen changes size*/
@media (max-width: 950px){

  .container-fluid a {  
    font-size:1em;
  }
}


@media (max-width:700px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}


.navbar-default {
  background-color: #b82e8a;
  border-color: #a7297e;
}
.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffffff;
}
.navbar-default .navbar-text {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #a7297e;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #a7297e;
}
.navbar-default .navbar-toggle {
  border-color: #a7297e;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #a7297e;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ffffff;
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #ffffff;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #000000;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #000000;
    background-color: #a7297e;
  }
}


/*body */
.toppic {	
		text-align: center;
		color:white;
		font-family: "trebuchet MS","andale mono", "Calibri", "serif"; 
		margin-top:50px;
		background-size: cover;
		border-bottom:solid;
;
	}

.toppic h1 {
	font-family: "trebuchet MS","andale mono", "Calibri", "serif"; 
	text-shadow: 3px 3px 3px rgba(0,0,0,0.3);
	padding: 50px 20px 50px 20px;
	outline-style: solid;
	outline-width: 5px;
	outline-color: white;
	font-size:50px;
	letter-spacing: 8px;
	background-color:#b82e8a;

/*	
	
	border:solid;
	border-width: 5px;
	line-height:100%;
	position:relative;*/
}

.toppic h2{
	font-style: italic;
	font-family: "trebuchet MS","andale mono", "Calibri", "serif"; 
	font-size:20px;
	color:black;
	margin: 30px 30px 30px 30px;

}
.thumbnails{
	max-width:100%;
	max-height: 100%;
	border-radius: 15px;
	border: 1px solid #ddd;
	padding: 15px;
	width: 150px;
	float:left;
	margin-left: 15px;
	margin-right:15px;
}

.col-sm-12 {
	font-family: "trebuchet MS","andale mono", "Calibri", "serif"; 
	position:center;
	padding: 50px;
	margin-left: 15px;
	margin-right: 20px;
	border-top:solid;

}


h3{
	font-style: bold;
	font-size: 30px;
	margin-left: 15px;
	margin-right: 20px;
}

p {
	padding:10px;
	font-weight: bold;
	font-size-adjust: auto;
	object-position: center;
	margin-left: 15px;
	margin-right: 20px;
}

small {
	font-style: italic;
	font-size-adjust: auto;
	margin-left: 15px;
	margin-right: 20px;
}

.commentsbox {
	padding-top: 20px;
}


.AllLikes{
    background-color: #d65cae; /* Green */
    font-family: "trebuchet MS","andale mono", "Calibri", "serif"; 
    border: none;
    text-shadow: 3px 3px 3px rgba(0,0,0,0.3);
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

}

.AllLikes:hover {
	    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.9);
	}

.LikeCounter1{
	border:dotted;
	border-color: #d65cae;
	padding: 7px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.likelist ul {
  list-style: center;
  padding-bottom: 10px;
  float:none;
}
.commentbox{
    float:center;
    padding:20px 20px 20px 20px;
}

.likeclass{
	padding:20px 0px 20px 0px;
}

.btn-twitter {
  background-color: #00acee;
  border-color: #009ad5;
  color: white;
}

.btn-facebook {
  background-color: #4868ac;
  border-color: #314776;
  color: white;
}

.btn-pinterest {
  background-color: #b62f26;
  border-color: #b62f26;
  color: white;
}

