/*CSS for Nav Bar*/
.container-fluid li{
  display: inline;
  text-align: center; 
  margin: 0px 5px 0px 5px;
  padding: 0px 0px 0px
  width: 100%;
  color: #e29898;

}
.container-fluid a { 
  text-decoration: none;
  display: inline;
  font-size: 1.2em;
  text-shadow: 2px 2px #000;
  transition: .3s background-color;
  opacity: 1;
 }
.toppic {	
		text-align: center;
		color:white;
		font-family: Comic;
		font-weight: bold;
		font-size:2.5em;
		margin-top:50px;
		background-size: cover;

	}

.toppic h1 {
	font-family: "trebuchet MS","andale mono", "Calibri", "serif"; 
	text-shadow: 3px 3px 3px rgba(0,0,0,0.3);
	padding: 50px 20px 50px 20px;
	outline-style: solid;
	outline-width: 5px;
	outline-color: white;
	font-size:50px;
	letter-spacing: 8px;
	background-color:cornflowerblue;
}
/*	
	
	border:solid;
	border-width: 5px;
	line-height:100%;
	position:relative;*/
}

.toppic h2{
	font-style: italic;
	font-family: "trebuchet MS","andale mono", "Calibri", "serif"; 
	font-size:25px;
	color:black;
}
.thumbnails{
	max-width:100%;
	max-height: 100%;
	border-radius: 15px;
	border: 1px solid #ddd;
	padding: 15px;
	width: 150px;
	float:left;
	margin-left: 15px;
	margin-right:15px;
}

.col-sm-12 {
	position:center;
	padding: 50px;
	margin-left: 15px;
	margin-right: 20px;
	border-bottom: dashed;
	border-top: dashed;
}

 .col-sm-12:hover {
	    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.9);
	}



/* corousel*/

.mycarousel {

	height: 400px;
	width: 800px; 
	margin-bottom: 20px;
	overflow: hidden;
}
.subtitle {

	position: absolute;
	left: 25%;
	top: 60%;
	font-size: 7em;
	color: #fff;

	}

		body.is-loading *, body.is-loading *:before, body.is-loading *:after {
			-moz-animation: none !important;
			-webkit-animation: none !important;
			-ms-animation: none !important;
			animation: none !important;
			-moz-transition: none !important;
			-webkit-transition: none !important;
			-ms-transition: none !important;
			transition: none !important;
		}




}

.jumbotron {
	position: center;
	background-color: #e29898;
}

p {
    font-size: 14px;
}


footer { 
    display: block;
    background-color: #b82e8a;
    color: #ffffff;
    height: 30px;
    padding-left: 10px;


}
#social-buttons {
  margin-top: 50px;
}

.btn-twitter {
  background-color: #00acee;
  border-color: #009ad5;
  color: white;
}

.btn-facebook {
  background-color: #4868ac;
  border-color: #314776;
  color: white;
}

.btn-pinterest {
  background-color: #b62f26;
  border-color: #b62f26;
  color: white;
}