.container-fluid li{

  
  display: inline;
  text-align: center; 
  margin: 0px 5px 0px 5px;
  padding: 0px 0px 0px
  width: 100%;

}
.container-fluid a {
      
  text-decoration: none;
  display: inline;
  font-size: 1.2em;
  text-shadow: 2px 2px #000;

  transition: .3s background-color;
  opacity: 1;

 }

.affix {
      top: 0;
      width: 100%;
  }


 h1{

  font-weight: bold;
  text-shadow: 1px 1px gray;

 }

 text{

  font-family: "trebuchet MS","andale mono", "Calibri", "serif"; 
}

.container-fluid a:hover {

  background-color: #cc339a;
  font-weight:bold;

}


/* corousel*/

.mycarousel {

	height: 400px;
	width: 800px; 
	margin-bottom: 20px;
	overflow: hidden;
}
.subtitle {

	position: absolute;
	left: 25%;
	top: 60%;
	font-size: 7em;
	color: #fff;

	}

		body.is-loading *, body.is-loading *:before, body.is-loading *:after {
			-moz-animation: none !important;
			-webkit-animation: none !important;
			-ms-animation: none !important;
			animation: none !important;
			-moz-transition: none !important;
			-webkit-transition: none !important;
			-ms-transition: none !important;
			transition: none !important;
		}




}

.jumbotron {
	position: center;
	background-color: #e29898;
}

p {
    font-size: 14px;
}


footer { 
    display: block;
    background-color: #b82e8a;
    color: #ffffff;
    height: 60px;
    padding-left: 10px;


}
#social-buttons {
  margin-top: 50px;
}

.[btn-twitter] {
  background-color: #00acee;
  border-color: #009ad5;
  color: white;
  position: right;
}

.btn-facebook {
  background-color: #4868ac;
  border-color: #314776;
  color: white;
  position: right;
}

.btn-pinterest {
  background-color: #b62f26;
  border-color: #b62f26;
  color: white;
  position: right;
}